<form [formGroup] = "angForm">
  <input type="text" name="email" placeholder="Email" formControlName="email" #email>
  <br>
  <input type="password" name="pwd" placeholder="Password" formControlName="password" #password>
  <br>
  <input type="submit" value="Submit" (click) = "onClickSubmit(email.value, password.value)">
</form>
<router-outlet></router-outlet>
