<p>product-add works!</p>
<div class="card">
  <div class="card-body">
    <form [formGroup] ="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Product Name</label>
        <input type="text" class="form-control" formControlName="ProductName" #ProductName>
      </div>
      <div class="alert alert-danger" *ngIf="angForm.controls['ProductName'].invalid && (angForm.controls['ProductName'].dirty
          || angForm.controls['ProductName'].touched)">
        <div *ngIf="angForm.controls['ProductName'].errors.required">
          Product Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Product Description</label>
        <textarea class="form-control" cols="5" rows="7" formControlName="ProductDescription" #ProductDescription></textarea>
      </div>
      <div class="alert alert-danger" *ngIf="angForm.controls['ProductDescription'].invalid && (angForm.controls['ProductDescription'].dirty
          || angForm.controls['ProductDescription'].touched)">
        <div *ngIf="angForm.controls['ProductDescription'].errors.required">
          Product Description is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Product Price</label>
        <input type="text" class="form-control" formControlName="ProductPrice" #ProductPrice>
      </div>
      <div class="alert alert-danger" *ngIf="angForm.controls['ProductPrice'].invalid && (angForm.controls['ProductPrice'].dirty
          || angForm.controls['ProductPrice'].touched)">
        <div *ngIf="angForm.controls['ProductPrice'].errors.required">
          Product Description is required.
        </div>
      </div>


      <div class="form-group">
        <button
        (click)= "addProduct(ProductName.value, ProductDescription.value, ProductPrice.value)" type="submit" class="btn btn-primary"
        [disabled] ="angForm.pristine || angForm.invalid">Create Product</button
        >
      </div>
    </form>
  </div>
</div>
