<form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)">
  <input type="text" name="email" placeholder="Email" ngModel>
  <br>
  <input type="password" name="pwd" placeholder="Password" ngModel>
  <br>
  <input type="submit" value="Submit">
</form>
<router-outlet></router-outlet>
