<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header') %>
        </header>

        <main>
            Instagram photos will go here
            <div class="row">
                <% grams.forEach(function(gram){ %>
                    <div class="instagram-pic col-sm-3">
                        <a href="<%= gram.link %>" target="_blank">
                            <img src="<%= gram.images.standard_resolution.url %>" class="img-responsive" alt="">
                        </a>

                        <div class="instagram-bar">
                            <div class="likes">
                                <span class="glyphicon glyphicon-heart"></span>
                                <%= gram.likes.count %>
                            </div>
                            <div class="comments">
                                <span class="glyphicon glyphicon-comment"></span>
                                <%= gram.comments.count %>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>